body {
    background-color: #e9f1d4;
}
.span-shadow {
   text-align:center
}
.span-shadow span{
    display: inline-block;
    margin: 15px;
    padding: 20px 20px;
    cursor: pointer;
    border-radius:  50px;
    color: #fafbff;
    transition: .7s linear;
}
.span-shadow span:nth-child(1){
    background: #5ddb38
}
.span-shadow span:nth-child(1):hover {
    box-shadow: 0 0 0 2px #db7b55, 0 0 0 4px #db7b55;}
.span-shadow span:nth-child(2) {
    background: #245cf1;}
.span-shadow span:nth-child(2):hover{
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.8) inset; }
.span-shadow span:nth-child(3) {
    background: #d22bd2
}
.span-shadow span:nth-child(3):hover {
    box-shadow: 0 0 0 2px #1ad2cf inset;}

.span-shadow span:nth-child(4){
    background: #c5d240;
    position: relative;
    top: 0;
    left: 0;}
.span-shadow span:nth-child(4):hover {
    box-shadow: 2px 2px #e5f1e6, 4px 4px #524dd2;
    top: -4px;
    left: -4px;}




